protocol='http://'
port='8080'
host='127.0.0.1'
gsUser='admin:geoserver'
layersList='data/layers.csv'
layersWMSList='data/layers_wms.csv'
stylesList='data/styles.csv'
stylesLayers='data/layer-style.csv'
groupsList='data/groups.csv'
cacheList=''

dbHost='127.0.0.1'
dbPort='5432'
dbUser='postgres'
dbPassword='postgres*123'
database='dbdata'
dbMaxConnections='5'

defaultWorkspace='default-workspace'
